*toc
*pdf
*log
*ent
*aux
*~
*pdf
*png
*.DS_Store
*auto
*macros.tex
*out
*jpg
*dvi
*gz
*orig
*lof
*pyc
*py
*rh/code/illustrations
*bz2
*worksheets
*.idx
*rh/code/list.txt
*rh/code/omit.txt
*rh/code/rh.txt
*sws
*.bib
*.bbl
*.blg
purple/